.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: bisque;
}

/* Header styles */
.header {
  padding: 9px 29px;
  background-color: #fcf8f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.main-logo {
  width: 100px;
  height: 50px;
  margin-right: 47px;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-item {
  &:not(:last-child) {
    margin-right: 57px;
  }
  &:last-child {
    margin-right: 820px;
  }
}

.shopping-nav-list {
  display: flex;
  align-items: center;
}

.shopping-nav-item {
  &:not(:last-child) {
    margin-right: 29px;
  }
}

/* Main styles */
.hero {
  height: 500px;
  background: url(../images/hero-section-cover.jpg),
    lightgray 50% / cover no-repeat;
}

/* Footer styles */
.footer {
  padding: 65px 29px 8px 29px;
  background-color: #212806;
}

.nav-wrapper {
  display: flex;
  margin-bottom: 65px;
}

.footer-logo {
  width: 135px;
  margin-right: 1055px;
}

.footer-info-list {
  display: flex;
  margin-bottom: 93px;
}

.footer-info-item {
  width: 319px;
  &:not(:last-child) {
    margin-right: 36px;
  }
}

.footer-meta {
  display: flex;
}
