.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: bisque;
}

/* Footer styles */
.footer {
  padding: 65px 29px 8px 29px;
  background-color: #212806;
}

.nav-wrapper {
  display: flex;
  margin-bottom: 65px;
}

.footer-logo {
  width: 135px;
  margin-right: 1055px;
}

.footer-info-list {
  display: flex;
  margin-bottom: 93px;
}

.footer-info-item {
  width: 319px;
  &:not(:last-child) {
    margin-right: 36px;
  }
}

.footer-meta {
  display: flex;
}
